
.NavCircleButton {
  background-color: #cacaca;
  border-radius: 1px;
  margin-bottom:0.2em;
 /*  border-top: 1px solid black;
  border-bottom: 1px solid black; */
  color: black;
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  height: 60px;
  /* padding: 8px; */
  text-align: center;
  text-decoration: none;

}

a.NavCircleButton {
  /* padding: 16px 8px 8px; */
}

.NavCircleButton:hover {
  cursor: pointer;
}
@media screen and (max-width:670px){
  
  .NavCircleButton{
    height: 45px;
    overflow: hidden;
  }
  
}
