

.NavCircleButton {
  border-radius: 1px;
  margin-bottom:0.2em;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  height: 4em;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 0.15em solid black;
  background-color: #dce4de;
  box-shadow: inset 0 0 8px #000000;
  transition: all ease-in-out 0.2s;
}
.NavCircleButton:hover {
  box-shadow: inset 0 0 18px #000000
}

a.NavCircleButton {
  overflow: hidden;
}
a.NavCircleButton:hover{
  text-shadow: 1px 1px grey;
}

.NavCircleButton:hover {
  cursor: pointer;
}
@media screen and (max-width:670px){
  
  .NavCircleButton{
    height: 45px;
    overflow: hidden;
  }
  
}
